---
import type {Treenode_t} from "../type/interface"

const { obj } = Astro.props  as {obj:Treenode_t};

---

<div id="node">
    { !obj ?  <span> "Node props error" </span> : 
        <div>
            Level : {obj.level}
        </div>
        <div>
            Node: {obj.endpoint} 
        </div>
        <div>
            page: {obj.obj.path} 
        </div>
        <div>
            children: {obj.childen_count} 
        </div>
    }
</div>


<style>
    #node{
        margin-top: 10px;
    }
</style>